@model IEnumerable<rendevusistemi.Database.Data.User>


<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Kayıt Edilen Kullanıcılar</a>
            </li>
            <li class="breadcrumb-item active">@Html.ActionLink("Yeni Oluştur", "User")</li>
        </ol>
        <h2></h2>

        <p>

        </p>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Kullanıcı Listesi
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Adı</th>
                                <th>Soyadı</th>

                               


                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Adı</th>
                                <th>Soyadı</th>
                             

                            </tr>
                        </tfoot>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                    @Html.ValidationMessageFor(modelItem => item.UserName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                    @Html.ValidationMessageFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                    @Html.ValidationMessageFor(modelItem => item.LastName)
                                </td>
                       


                                <td>
                                    <i class="fa fa-fw fa-edit" style="font-size:15px"></i>
                                    @Html.ActionLink("Düzenle", "UserEdit", new { id = item.Id }) |
                                    @*<i class="fa fa-fw fa-address-card-o" style="font-size:15px"></i>
                                        @Html.ActionLink("Detay", "Details", new { id = item.Id }) |*@
                                    <i class="fa fa-fw fa-close" style="font-size:15px;color:red"></i>
                                    @Html.ActionLink("Sil", "UserDel", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>


        </div>


    </div>
</div>


<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>