@model IEnumerable<rendevusistemi.Database.Data.Appointments>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Kayıt Edilen Müşteriler</a>
            </li>
            <li class="breadcrumb-item active">@Html.ActionLink("Yeni Oluştur", "Register")</li>
        </ol>
        <h2></h2>

        <p>

        </p>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Müşteri Listesi
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Açıklama</th>
                                <th>Tarih</th>
                                <th>İş</th>
                                <th>Müşteri</th>


                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Açıklama</th>
                                <th>Tarih</th>
                                <th>İş</th>
                                <th>Müşteri</th>


                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTimeStart)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeId)
                                    </td>

                                    <td>
                                        <i class="fa fa-fw fa-edit" style="font-size:24px"></i>
                                        @Html.ActionLink("Düzenle", "RegisterEdit", new { id = item.Id }) |
                                        <i class="fa fa-fw fa-address-card-o" style="font-size:24px"></i>
                                        @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
                                        <i class="fa fa-fw fa-close" style="font-size:24px;color:red"></i>
                                        @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>




