@model rendevusistemi.Database.Data.Appointments



@{
    ViewBag.Title = "Randevu Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="container-fluid">
        <h4>Silmek İstediğinizden Emin Misiniz?</h4>
        <div>


            <dl class="dl-horizontal">
                <hr />



                <dd>
                    @Html.DisplayFor(model => model.JobId)
                </dd>
                <hr />

                <dd>
                    @Html.DisplayFor(model => model.EmployeId)
                </dd>

                <hr />
                
                <dd>
                    @Html.DisplayFor(model => model.DateTimeStart)
             
                </dd>
                <hr />
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <hr />
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="SİL" class="btn btn-danger" /> |
                    @Html.ActionLink("Geri Dön", "AppointmentView")
                </div>
            }
        </div>
    </div>
</div>
