@model rendevusistemi.Database.Data.ViewModel


<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Kayıt Edilen Operasyonlar</a>
            </li>
            @*<li class="breadcrumb-item active">@Html.ActionLink("Yeni Oluştur", "Job")</li>*@
        </ol>
        <h2></h2>

        <p>

        </p>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Randevu Listesi
                <div style="float:right">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Arama Yap: @Html.TextBox("SearchString")
                            <input type="submit" value="Ara" />
                        </p>
                    }
                </div>
                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Müşteri</th>
                                <th>Operasyon</th>
                                <th>Açıklama</th>
                                <th>Tarih-Saat</th>
                                <th>Personel</th>

                            </tr>
                        </thead>


                        <tfoot>
                            <tr>
                                <th>Müşteri</th>
                                <th>Operasyon</th>
                                <th>Açıklama</th>
                                <th>Tarih-Saat</th>
                                <th>Personel</th>


                            </tr>
                        </tfoot>


                        @foreach (var item in Model.randevular)
                        {
                            <tr>

                                <td>
                                       @{ 
                                          
                                           string müst = Model.müsteriler.Where(a => a.Id == item.EmployeId).Select(a=>a.Fullname).FirstOrDefault();

                                        }

                                    <h6>@müst</h6>
                                  
                                </td>
                                <td>
                                    @{ 
                                        int deger = item.JobId + 1;
                                        string oper = Model.operasyonlar.Where(a => a.Id == deger).Select(a => a.Name).FirstOrDefault();

                                    }

                                    <h6>@oper</h6>
                                   
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTimeStart)
                                </td>
                              
                                <td>
                                    @{
                                        int deger2 = item.UserId + 1;
                                        string user = Model.kullanicilar.Where(a => a.Id == deger2).Select(a => a.UserName).FirstOrDefault();

                                    }

                                    <h6>@user</h6>

                                </td>
                                

                                <td>
                                    
                                    <i class="fa fa-fw fa-close" style="font-size:15px;color:red"></i>
                                    @Html.ActionLink("Sil", "AppointmentDel", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

        </div>


    </div>
</div>


<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
     
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>



